@import url("photographer.css");

%img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    box-shadow: 3px 4px 5px #cfc7c7;
    object-fit: cover;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 50px;

    article {
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            
            h2 {
                color: #D3573C;
                font-size: 36px;
                margin-bottom: 0;
            }
    
            img {
                @extend %img
            }
        }

        .p-country {
            color: #901C1C;
            margin: 0;
            font-size: 15px;
        }

        .p-tagline {
            margin: 0;
            font-size: 15px;
        }
        .p-price {
            margin: 0;
            font-size: 15px;
            color: gray;
        }

    }
}

#main-page-photographer {
    
    .photograph-header {
        display: flex;
        justify-content: space-between;

        .h1-page-photographer{
            color: #D3573C;
            font-size: 50px;
            margin-bottom: 0;
        }

        .p-country-city {
            color: #D3573C;
        }

        .contact_button {
            margin-top: 50px;
        }

        img {
            @extend %img
        }
    }

    .photos-medias{
        margin-left: 20px;
       
        .images-photographers{
            margin-right: 40px;
            margin-left: 40px;
            margin-bottom: 80px;
            height: 400px;
            width: 27%;
            object-fit: cover;
        }
    }
}

